@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;

}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: #FEAFC3;

}

.main-container {
  flex-grow: 1;
  padding-top: 178px;
  padding-bottom: 44px;
}

.logo {
  margin-right: 28px;
}


@media (min-width: 575.98px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px){
  .container {
    max-width: 1260px;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Навигация каталог*/
.navigation {
  display: flex;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
  margin-top: 24px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  margin-right: 16px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 8px 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}


.navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:active {
  background: #FCFCFC;
  border-radius: 30px;
}

.navigation-link:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 8px 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.nav-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.nav-link:active {
  background: #FCFCFC;
  border-radius: 30px;
}

.nav-link:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.search {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  padding: 8px;
  margin: 0;
}

.icon-background-search {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  margin-right: 16px;
}

.icon-background {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}


.navigation-search {
  max-width: 320px;
  margin-left: auto;
}

.navigation-link-icon {
  padding-left: 44px;
}

.navigation-link-icon .navigation-icon {
  right: auto;
  left: 20px;
  margin: auto 0;
}


.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}


/*Поповер*/

.popover {
  display: none;
  position: absolute;
  top: 77px;
  right: 135px;
  z-index: 1;
  box-sizing: border-box;
  width: 441px;
  padding: 40px;
  font-family: 'Inter';
  color: #2D3440;
  background: #FCFCFC;
  border-radius: 4px;
  min-height: 186px;
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
}

.popover-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 70px;
}

.popover-content {
  height: 100%;
}

.popover-title {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;

}

.popover-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 32px;
}

.popover-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popover-item {
  padding-left: 65px;
}

.popover-title-card {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
margin: 0;
padding: 0;
margin-bottom: 4px;
}

.popover-text {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #B9B9B9;
margin: 0;
padding: 0;
margin-bottom: 24px;
}

.raspberry-icon {
background-image: url('/images/raspberry-img.png');
background-repeat: no-repeat;
background-position: left top;
}

.bubble-gum-icon {
background-image: url('/images/bubble-gum-img.png');
background-repeat: no-repeat;
background-position: left top;
}

.popover-price-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 10px;
}

.popover-price-item {
  display: grid;
  grid-template-columns: 90px 16px;
  margin-bottom: 48px;
}

.popover-price-text {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #2D3440;
margin: 0;
padding: 0;
}

.popover-button {
  background: #ffffff;
  border: none;
}

.popover-price-total {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #2D3440;
}

.price-end {
  display: flex;
  justify-content: center;
  gap: 32px;
}


.icon-background:focus-within ~ .popover {
  display: block;

}

/*Поповер вход*/

.popover-user {
  display: none;
  position: absolute;
  top: 77px;
  right: 300px;
  z-index: 1;
  box-sizing: border-box;
  width: 420px;
  padding: 48px;
  font-family: 'Inter';
  color: #2D3440;
  background: #FCFCFC;
  border-radius: 4px;
  min-height: 186px;
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
}

.popover-user-content {
  height: 100%;
}

.popover-user-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.popover-form {
  width: 324px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  margin-bottom: 32px;
}


.popover-user-list {
  list-style: none;
  padding: 0;
  padding-left: 32px;
}

.popover-user-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.price-user-end{
  display: flex;
}

.icon-background-search:focus-within ~ .popover-user {
  display: block;

}

/*Поповер поиск*/

.popover-search {
  display: none;
  position: absolute;
  top: 77px;
  right: 300px;
  z-index: 1;
  box-sizing: border-box;
  width: 356px;
  padding: 24px 16px;
  font-family: 'Inter';
  color: #2D3440;
  background: #FCFCFC;
  border-radius: 4px;
  min-height: 96px;
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
}

.popover-search-form {
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  margin: 0;
}

.icon-search:focus-within ~ .popover-search {
  display: block;

}


/*Слайдер*/
.index-columns {
  display: flex;
  justify-content: space-evenly;
  color: #242424;
  position: relative;
  background-image: url('/images/ice_ream_2.svg'), url('/images/pod-2.svg'), url('/images/ice_ream_3.svg'), url('/images/pod-2.svg');
  background-repeat: no-repeat;
  background-position-x: 79%, 80%, 89%, 90%;
  background-position-y: 65px, 103px;
}

/* Services */

.services {
  width: 470px;
}

/* Title */
.services-title {
  margin-top: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2D3440;
}

.services-decription {
  width: 414px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  margin-bottom: 48px;
}

/* Price */
.services-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: 'Inter';
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  list-style-type: none;
}

/* Item */
.services-item {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 22px;
}

.services-item::before {
  flex-grow: 1;
  order: 2;
  margin-right: 16px;
  margin-left: 16px;
  border-bottom: 2px dotted rgba(89, 89, 89, 0.5);
  content: "";
}


.gallery {
  width: 306px;
  height: 430px;
  position: relative;
  right: 120px;
}

/* Title */
.gallery-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: 'Inter';
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background: #FCFCFC;
  background-clip: padding-box;
  border: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  padding: 12px 32px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
align-items: center;
padding: 12px 32px;
background: rgba(252, 252, 252, 0.4);
border: 4px solid #FCFCFC;
box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
border-radius: 26px;
}

.btn:active {
align-items: center;
padding: 12px 32px;
background: #FCFCFC;
border: 2px solid #2D3440;
box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
border-radius: 26px;
}


.btn:focus {
align-items: center;
padding: 12px 32px;
background: rgba(252, 252, 252, 0.5);
border: 2px solid #2D3440;
box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
border-radius: 26px;
}


.slider-wrapper {
  position: relative;
  bottom: 100px;
  right: 90px;

}

.slider-image {
  display: block;
  width: 312px;
  background-image: url('/images/pod.svg');
  background-repeat: no-repeat;
  background-position: center;
}


.slider-controls {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
}

.slider-button {
  width: 38px;
  height: 38px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  transform: rotate(180deg);
  cursor: pointer;
  background-image: url('/images/Arrow-right.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button:hover {
  background: #FCFCFC;
  background-image: url('/images/right-hover.svg');
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.slider-button:active {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
  cursor: pointer;
  background-image: url('/images/right-hover.svg');
  background-position: center;
  background-repeat: no-repeat;

}

.slider-prev {
  transform: rotate(0deg);
  position: relative;
  right: 22px;

}

.slider-next:hover {
  background: #FCFCFC;
  background-image: url('/images/right-hover.svg');
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(0deg);
}

.slider-next:active {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
  cursor: pointer;
  background-image: url('/images/right-hover.svg');
  background-position: center;
  background-repeat: no-repeat;

}


.slider-next {
  position: relative;
  left: 28px;
}

.slider-pagination {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;

}

.slider-pagination-item {
  margin: 0 4px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  background-color: #FCFCFC;
  opacity: 0.5;
}

.slider-pagination-button:focus {
  background-color: rgba(252, 252, 252);
  opacity: 0.5;
  border: 2px solid #2D3440;
  outline: none;
}


.slider-pagination-button-current {
  background-color: #FCFCFC;
}


.social {
  display: flex;
  justify-content: space-between;
  padding: 0 135px;
  margin-bottom: 80px;
}


.social-pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-pagination-item {
  margin: 0 4px;
}

.social-pagination-button {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-color: #FEAFC3;
  background-clip: padding-box;
  border: 2px solid rgba(252, 252, 252, 0.4);
  border-radius: 50%;
  cursor: pointer;
}

.telegram {
  background-image: url('/images/telegram.svg');
  background-position: center;
}

.vk {
  background-image: url('/images/vk.svg');
  background-position: center;
}

.youtube {
  background-image: url('/images/youtube.svg');
  background-position: center;
}

/*Карточки*/

.card-title {
  width: 434px;
  height: 92px;
  margin: 0 auto;
  margin-bottom: 55px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
}


.card-box {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 81px;
}

.card {
  width: 570px;
  height: 268px;
  background: #FF7799;
  border-radius: 16px;

}

.card-sub-title {
  width: 254px;
  height: 30px;
  margin: 36px 36px 28px 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
}

.card-text {
  width: 328px;
  height: 66px;
  margin: 0 36px 28px 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
}


.image-card {
  position: relative;
  left: 355px;
  bottom: 188px;
}


.btn-card {
  position: absolute;
  margin: 0 36px 14px 36px;
}

/*Карточки колонки*/

.columns-container {
  margin-bottom: 80px;
}

.columns-cards-box {
  display: flex;
  justify-content: center;
  gap: 30px;

}

.columns-title {
  width: 527px;
  height: 92px;
  margin: 0 auto;
  margin-bottom: 107px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
}


.columns-cards {
  position: relative;
  width: 270px;
  height: 281px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.columns-cards-img {
  position: relative;
  left: 50px;
  bottom: 48px;
  filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));

}

.columns-cards-title {
  position: relative;
  bottom: 50px;
  width: 190px;
  height: 24px;
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-align: center;
}


.columns-cards-text {
  position: relative;
  width: 190px;
  height: 44px;
  bottom: 42px;
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;

}

.columns-cards-price {
  position: absolute;
  bottom: 22px;
  left: 40px;
  width: 90px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.columns-cars-btn {
  position: absolute;
  bottom: 20px;
  left: 195px;
  width: 32px;
  height: 32px;
  background: #FF2F64;
  border: none;
  border-radius: 26px;
  background-image: url('/images/cards-basket.svg');
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: center;
  cursor: pointer;
}


.columns-cars-btn:hover {
padding: 8px 11px;
background: rgba(252, 252, 252, 0.3);
border: 2px solid #FF2F64;
border-radius: 26px;
background-image: url('/images/basket-hover.svg');
background-repeat: no-repeat;
background-position-x: 6px;
background-position-y: center;
cursor: pointer;
}


.columns-cars-btn:active {
padding: 8px 11px;
background: #FFCBD8;
border: 2px solid #FF2F64;
border-radius: 26px;
background-image: url('/images/basket-hover.svg');
background-repeat: no-repeat;
background-position-x: 6px;
background-position-y: center;
cursor: pointer;
}

.columns-cars-btn:focus {
  padding: 8px 11px;
gap: 10px;

width: 32px;
height: 32px;

/* special/extra-bright */

background: #FF2F64;
/* basic/extra-dark */

border: 2px solid #2D3440;
border-radius: 26px;
}

/*Секция с описанием магазина*/

.store-container {
  width: 1170px;
  height: 480px;
  margin: 0 auto;
  margin-bottom: 80px;
  background-image: url('/images/waffle-background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 16px;
}

.store-behind {
  width: 1122px;
  height: 432px;
  margin: 0 auto;
  position: relative;
  top: 24px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.store-title {
  width: 995px;
  height: 92px;
  margin: 0 auto;
  padding: 56px 63px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
}

.store-list {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 31px;
  row-gap: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  list-style: none;
}

.store-item {
  width: 505px;
  height: 66px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.store-text {
  margin: 0;
  margin-left: 63px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.ice-icon {
  background-image: url('/images/ice_ream_icon.svg');
  background-repeat: no-repeat;
  background-position: left top;
}


.cow-icon {
  background-image: url('/images/cow-icon.svg');
  background-repeat: no-repeat;
  background-position: left top;
}


.leaf-icon {
  background-image: url('/images/leaf-icon.svg');
  background-repeat: no-repeat;
  background-position: left top;
}

.thermometer-icon {
  background-image: url('/images/thermometer-icon.svg');
  background-repeat: no-repeat;
  background-position: left top;
}


/*Блок новости и подписки*/
.news-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 86px;
}

.news-blok {
  width: 570px;
  height: 224px;
  background-image: url('/images/ice-background.png');
  background-repeat: no-repeat;
  background-size: 640px;
  background-position: left;
  border-radius: 16px;
}

 .news-text {
  margin: 0;
  padding: 32px 0 12px 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}

 .news-title {
  width: 303px;
  height: 92px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  padding-left: 32px;
 }

.subscription-box {
  width: 570px;
  height: 224px;
  background-image: url('/images/subscription-backgraund.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 16px;
}


.subscription-blok {
  width: 558px;
  height: 212px;
  position: relative;
  left: 6px;
  top: 6px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.subscription-text {
  width: 506px;
  height: 66px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  padding: 26px 26px 44px 26px;
}

.news-search {
  width: 332px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  padding: 14px 16px;
}

.search-blok {
  margin: 0;
  padding: 0 18px 28px 26px;
}

.button {
display: inline-block;
box-sizing: border-box;
padding: 12px 32px;
background: #FF2F64;
background-clip: padding-box;
border: 4px solid rgba(255, 47, 100, 0.3);
box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
border-radius: 26px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #FCFCFC;
text-decoration: none;
cursor: pointer;
}
/*Блок доставки с фомрой заказа*/

.delivery-container {
  width: 1170px;
  height: 534px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 80px;
  background-image: url('/images/delivery-background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transform: scaleX(-1);
  border-radius: 16px;
}

.delivery-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: scaleX(-1);
}

.delivery-title {
width: 356px;
height: 92px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 46px;
color: #2D3440;
margin: 0;
margin-left: 100px;
margin-bottom: 24px;
}

.delivery-text {
width: 371px;
height: 88px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #565C66;
margin: 0;
margin-left: 100px;
}

.appointment {
  width: 500px;
  height: 406px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  margin: 64px 64px 64px 0;
}


.appointment-form {
  display: grid;
  justify-content: center;
  grid-template-columns: 117px 287px;
  grid-gap: 20px 16px;
  margin-bottom: 32px;
}

.field {
  box-sizing: border-box;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.appointment-form-address {
  width: 420px;
}

.appointment-submit {
  grid-column: 1 / -1;
  justify-self: start;
}

/* List */
.appointment-info {
width: 380px;
height: 44px;
margin: 40px 80px 32px 40px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #565C66;
}

/* Label */
.form-label {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #2D3440;
margin-bottom: 8px;
}



.button-appointment {
  display: block;
  margin: 0 auto;
}


/*Блок с контактами*/

.contacts-container {
  width: 1170px;
  height: 492px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  background-image: url('/images/background-address.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 16px;
}

.contacts-block {
  padding: 40px;
}

.contacts-box {
  width: 343px;
  height: 364px;
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  margin-left: 64px;
}

.contacts-address-text {
width: 179px;
height: 44px;
margin: 0;
padding: 0;
margin-bottom: 12px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #565C66;
}


.contacts-address {
width: 263px;
height: 48px;
margin: 0;
padding: 0;
margin-bottom: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #2D3440;
}


.contacts-text {
width: 203px;
height: 22px;
margin: 0;
padding: 0;
margin-bottom: 12px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #565C66;
}

.contacts-address-phone {
margin: 0;
padding: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #2D3440;
text-decoration: none;
}

.contacts-schedule {
margin: 0;
padding: 0;
margin-bottom: 32px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #565C66;
}


/*Футер*/


.page-footer {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 48px;
}


.page-footer-container {
  display: flex;
  justify-content: space-between;
}

.page-footer-list {
margin: 0;
padding: 0;
display: grid;
grid-template-columns: 156px 1fr;
list-style: none;
row-gap: 8px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #2D3440;
}

.page-footer-item {
  padding-left: 22px;
}

.page-footer-item:first-child {
  font-weight: 700;
}

.heart {
  background-image: url('/images/heart.svg');
  background-repeat: no-repeat;
  background-position: 1px center;
}

.page-footer-logo {
  margin: 0;
  margin-bottom: 17px;
}

.page-footer-text {
margin: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #2D3440;
}

.htmlacademy-link {
  color: #2D3440;
}

/*Модальное окно*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-contant {
  padding: 64px;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
}

.modal-auth {
  width: 570px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  background-image: url("images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
}

.auth-form .field-group {
  margin: 0;
  margin-bottom: 16px;
}


.auth-form-user-options {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.auth-form-user-options .control-label {
  font-weight: 400;
}

.auth-form .field {
  width: 328px;
}

.auth-form-recovery {
  line-height: 22px;
  color: #000000;
}

.auth-form-button {
  width: 360px;
  margin-bottom: 16px;
}

.auth-form .button + .button {
  margin: 0;
}

.auth-form-register {
  width: 360px;
  color: #000000;
  background-color: #ffffff;
}
